.dropdown {
  z-index: 3;
  position: relative;
}
.dropdown button {
  background-color: transparent;
  color: white;
  border-radius: 12px;
  padding: 7px;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  border: 3px solid white;
  transition: border-radius 0.2s ease;
}
.dropdown button:hover {
  border-radius: 0px;
}
.dropdown-menu {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  position: absolute;
  background-color: var(--dim-gray);
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
}
.dropdown-menu li {
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  
}
.dropdown-menu li:hover {
  scale: 1.1;
}
